* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;

  & .main__user-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    width: 40vw;
    height: 80vh;

    & .main__user-panel-slider {
      appearance: none;
      background-color: rgb(223, 122, 75);
      border-radius: 30px;
      width: 70%;
      height: 5%;
      &::-webkit-slider-thumb {
        appearance: none;
        background-color: rgb(42, 31, 190);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
    }

    & .main__user-panel-slider-output {
      width: 100px;
      height: 40px;
      line-height: 40px;
      background-color: rgb(255, 255, 255);
      font-size: 40px;
      color: black;
    }
  }

  & .main__preview-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 60vw;
    height: 100vh;

    & .main__preview-box-element {
      background-color: rgb(240, 150, 6);
      width: 60%;
      height: 40%;
      border-radius: 5%;
    }
  }

  & .main__toolbox {
    background-color: rgb(185, 54, 54);
    width: 40vw;
    height: 20vh;
  }
}
